# Secrets
Configurations/Secrets.xcconfig
Secrets.xcconfig
Secrets.xcconfig

# macOS
.DS_Store

# Xcode
build/
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# SwiftPM
.swiftpm/
Package.resolved


